<p class="jumbotron col-4">Welcome to {{title}}  {{fullname}}</p>
 <form method="post" >
   <div class="col-sm-4" >
        First Name: <input name="firstName" type="text" class="form-control" /> <br />
        Last Name: <input name="lastName" type="text" class="form-control"/> <br />
        <input type="submit" class="btn" />
     <label>{{fullname}}</label>
    </div>
 </form>
