<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style>
        .jumbotron {
          padding: 30px;
          font-weight: 200;
          color: inherit;
          background-color: #eeeeee;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>
