<form method="post" >
   <div class="col-2" >
        First Number: <input name="firstnumber" type="text" class="form" /> <br />
        Second Number: <input name="secondnumber" type="text" class="form"/> <br />
        <input type="submit" class="btn" />
    <p>{{title}} {{sum}}</p>
 </div>
 </form>
